 /* Remove the navbar's default rounded borders and increase the bottom margin */
 html {
     position: relative;
     min-height: 100%;
 }
 body {
     /* Margin bottom by footer height */
     /* margin-bottom: 120px; */
	height: 100%;
 }

 .navbar-custom {
     background-color: #1f9fce;
     color: #ffffff;
     border-radius:0;
     border: none;
 }
 .navbar-custom .navbar-nav > li > a {
     color:#fff;
 }

 .navbar-custom .navbar-nav > .active > a {
     color: #ffffff;
     background-color:transparent;
 }

 .navbar-custom .navbar-nav > li > a:hover,
 .navbar-custom .navbar-nav > li > a:focus,
 .navbar-custom .navbar-nav > .active > a:hover,
 .navbar-custom .navbar-nav > .active > a:focus,
 .navbar-custom .navbar-nav > .open >a {
     text-decoration: none;
     background-color: #ffffff;
     color: #1f9fce;
 }

 .navbar-custom .navbar-brand {
     color:#eeeeee;
 }
 .navbar-custom .navbar-toggle {
     background-color:#eeeeee;
 }
 .navbar-custom .icon-bar {
     background-color:#ffffff;
 }

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0 !important;
    background-color: white;

    padding: 10px 0px 10px 0px;
    color: #1f9fce;
}
.jumbotron h1{
    font-weight: bold;

}

.panel, .panel-heading, .panel-body, .panel-footer {
    border: #0b2e13;
    -webkit-box-shadow: none;
    background: none;
}
.panel-default .panel-heading{
    font-weight: bold;
    background: none;
}

.panel-button {
    margin-top: 10px;
    margin-left: 12px;
}
/* Set for maximum of three lines of text */
/* .panel-footer{
    min-height: 80px;
} */

.btn-primary {
    border-radius: 0;
    background-color: #1f9fce;
    border: none;
}


#download {
	background: #1f9fce;
	color: white;
	
}

/* Add a gray background color and some padding to the footer */
footer {
	
	width: 100%;
	position: absolute;
    background-color: #f2f2f2;
    /* padding: 25px; */

    /* position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    /* height: 120px; */
}




 /* Small Devices, Landscape Phones and Phablets, Portrait Tablets, Small Desktops */
 @media only screen and (min-width : 768px) {

    .row-flex, .row-flex > div[class*='col-'] {  
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
    
    .row-flex-wrap {
        -webkit-flex-flow: row wrap;
        align-content: flex-start;
        flex:0;
    }
    
    .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
         margin:-.2px; /* hack adjust for wrapping */
    }
    
    .flex-col {
        display: flex;
        display: -webkit-flex;
        flex: 1 100%;
        flex-flow: column nowrap;
    }
    
    .flex-grow {
        display: flex;
        -webkit-flex: 2;
        flex: 2;
    }
}
